.a{
    margin-top: 0;
    margin-left: 0;
    background-color: rgb(255,255,0);
}
.b{
    margin-top: 0;
    margin-left: 0;
    color: red;
}
.c{
    margin-left: 700px;
}
.d{
    margin-left: 50px;
    font-size: x-large;
    font-weight: bolder;
}
.e{
    margin-top: 0;
    margin-left: 0;
    background-color: rgb(216, 216, 216);
    font-size: x-large;
    font-weight: bolder;
}